.main {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    flex-wrap: wrap;
    font-family: "Poppins";
}

.wind{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descrText{
    font-size: 18px;
    font-weight: 400;
}