.date {
     display: flex;
    flex-wrap: wrap; 
     justify-content: space-around; 
     flex-direction: column;
    padding: 25px;
    background-color: #5fa8d3;
    /* min-width: 600px; */
    /* max-width: 510px; */
    width: 100%;
    border-radius: 30px;
    color: #ffffff;
    box-shadow: 0px 4px 40px 0px rgba(27, 73, 101, 0.25);

}

.up,
.down {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cityBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}
.city{
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
    text-transform: uppercase; 
    color: #1b4965;
}
.coordBlock {
    display: flex;
    align-items: center;
}
.textValue{
    font-size: 18px;
    font-weight: 700;
}
.time{
    font-size: 80px;
    font-weight: 700;
}
.descr{
    font-size: 20px;
    color: #1b4965;
}
.down {
    padding-top: 20px;
    gap: 5px;
}
.currentDate{
    font-size: 20px;
    font-weight: 600;
    color: #1b4965;
    line-height: 20px;
}
/* .up,
.coordBlock {
    display: flex;
    align-items: center;
    flex-wrap: wrap; */
/* gap: 30px; */
/* } */

/* .cityBlock {
    display: flex;
    align-items: center;
    justify-content: space-between; */
/* gap: 10px; */
/* } */

/* .city,
.coord {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
    text-transform: uppercase;
}

.coord {
    font-size: 16px;
    text-transform: none;
}

.currentTime {
    padding-top: 30px;
    font-size: 96px;
    font-weight: 700;
    line-height: 144px;
    text-align: left;
}

.currentDay {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
} */